@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .borderClass    {
        border: 1px solid white;
        border-radius : 8px; 
        margin: 5px 0px;
        
    }
}